body {
  background-color: #000102;
  color: #ffffff;
}
.card {
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.btn-primary {
  border-radius: 10px;
  padding: 10px 20px;
}
label {
  font-weight: bold;
  color: #ffffff;
}